@media only screen and (min-width:1200px) {
  .container-fluid {
    max-width: 96%;
    margin: 0px auto;
  }
}

@media only screen and (min-width:1400px) {
  .container-fluid {
    max-width: 1320px;
    margin: 0px auto;
  }
}

@media only screen and (max-width:1024px) {
  .deco-img {
    top: -6%;
    left: -3%;
  }

  .experience {
    bottom: -6%;
    right: -9%;

  }

  .nav-item {
    margin: 0px 13px;
  }
}

@media only screen and (max-width:991px) {
  
  .nav-item {
    margin: 0px 10px;
  }
  .dropdown-menu li {
    position: relative;
}
.dropdown-menu{
  max-height: 400px;
  overflow-y: scroll;
  min-width: 200px !important;
  width: 200px !important;
  position: relative;
  top: 0px;
  overflow-x: hidden;
  border-radius: 0 !important;
}
  .dropdown-menu .dropdown-submenu {
    position: relative !important;
    left: 0 !important;
    top: 0px !important;
    right: 0 !important;
    margin: 7px;
    padding-left: 0px;
  }

  .navbar-collapse {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    padding-bottom: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    border-bottom: 2px solid var(--blue);
  }

  .nav-item {
    margin-top: 10px
  }

  .top-carousel-content h1 {
    font-size: 25px;
    font-weight: 600;
    color: white;
  }

  .top-carousel-content p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: justify;
  }

  .carousel-inner {
    height: 300px;

  }

  .carousel-item img {
    height: 300px;
  }
  .account-side-bar{
    background-color: #ffffff !important;
    box-shadow: 0 0 5px #ccc;
    padding: 0px 10px !important;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  .account-side-bar ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    overflow-x:scroll;
    /* min-width: 500px; */
    padding: 10px 0px !important;
}
.account-side-bar ul li{
  border-bottom: 0px solid var(--grey);
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  margin-right: 25px;
}
.account-side-bar ul li:last-child{
   margin-bottom: 0px !important;
   border-bottom: none !important;
}
.active-account-side{
  color:white !important;
  font-weight: 500 !important;
  background-color: var(--blue);
  padding: 3px 7px;
  border-radius: 3px
}
#progress li{
  padding: 10px 30px 10px 20px;;
}

.menu-links{
  /* display: none; */position: absolute;
  top: 43px;
  left: -300px;
  width: 250px;
  height: 100vh;
  z-index: 100;
  transition: all 1s;
  overflow-y: auto;
  /* background-color: rgb(220, 239, 244); */
}
.menu-list{
  flex-direction: column;
  list-style: none;
}
/* .z-index-100{
position: sticky;
top: 0;
z-index: 100 !important;
} */
}

@media only screen and (max-width:768px) {
  .top-row{
    padding: 5px 0px;
  }
  .order-content{
    background-color: #ffffff;
    box-shadow: 0 0 5px #ccc;
    padding: 15px 10px !important;
    border-radius: 10px;
  }
  .navbar-brand img {
    height: 35px !important;
    width: auto;
  }
  .cart{
    height: 30px;
    width: 30px;
  }
  .cart i{
   font-size: 16px !important;
  }
  .search{
    font-size: 14px;
  }
  .search-icon{
    font-size: 18px;
  }
  .select2-container {
    margin-right: 7px !important;
}
  .who-we {
    width: 100%;
  }

  .deco-img {
    display: none;
  }

  .experience {
    bottom: -35px;
    right: 10px;

  }

  .experience {

    padding: 15px;
  }

  .experience h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .experience p {
    font-size: 16px;
    font-weight: 500;
  }

  .who-we {
    min-height: 300px;

  }

  /* .product-card-img {
    background-color: white;
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    padding: 15px;
  }

  .product-card-img img {
    object-fit: contain;
    object-position: center;
    max-height: 180px;
    width: auto;
  } */
  .cart-btn{
    margin-bottom: 0px !important;
    font-size: 18px;
  }
  .view-btn{
    margin-bottom: 0px !important;
    font-size: 18px;
  }
  .account-main-content{
    padding: 10px 5px !important;
  }
  .sticky-top{
    position:  relative !important;
    top:unset;
  }
  .table-div{
    overflow-x: scroll;
    padding: 10px;
  }
.tabcontent-product{
padding: 5px !important;
}
  .table-div table{
    min-width: 500px;
  }
  .wrapper2{
    padding: 0px !important;
  }
  .tree-conteiner{
    overflow-x: scroll;
  }
  #progress {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   #progress li {
   width: 70%;
   margin-bottom: 25px;
   }
   #progress li:before {
     content: '';
     border-top: 16px solid #fff;
     border-left: 0px !important;
     border-right: 0px !important;
     position: absolute;
     top: 0;
     left: 0;
     
   }
   #progress li:after {
     content: '';
     border-top: 16px solid var(--blue);
     border-left: 16px solid transparent;
     border-right: 16px solid transparent;
     position: absolute;
     top: 30px;
     left:43%;
     z-index: 7;
   }
   #progress li.active-order:after {
     border-top: 16px solid var(--yellow);
     border-left: 16px solid transparent;
     border-right: 16px solid transparent;
   }
}

@media only screen and (max-width:500px) {
  .footer-logo-text {
    text-align: center;
    font-size: 30px;
  }

  .footer-logo {
    height: 200px;
  }
  .product-dec{
    font-size: 16px;
    font-weight: 400 !important;
}
  .cross-amount{
    font-size: 14px;
  }
  .product-card-text{
    padding: 10px 8px;
  }
  .product-heading{
    font-size: 16px;
    font-weight: 600;
}


.cross-amount2 {
  color: #484f56;
  font-size: 22px;
  font-weight: 500;
}

.new-amount2 {
  color: var(--heading);
  font-size: 30px;
  font-weight: 600;
}

.tag-label{
  min-width: 100px;
  font-size: 16px;
  font-weight: 600;
}
.tag-text{
  font-size: 16px;
  font-weight: 400;
}
.cart-btn{
  font-size: 20px;
}
.wrapper span.num{
  font-size: 20px;
  pointer-events: none;
  margin: 0px 20px;
  width: 70px;
  font-weight: 600;
}
.product-tab button{
  padding:12px !important;
  font-size: 14px;
}
.mall-sort-p{
  width: 100%;
}
.mall-sort-child{
  width: 100%;
}
.sale-tag{
  position: absolute;
  top: -5px;
  right: -1px;
  height: 30px;
  width: 30px;
  background-color: var(--orange);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.account-img{
  height: 60px;
  width: 60px;
}
.account-card{
  padding: 10px !important;
}
.account-img{
  margin-right: 7px !important;
}
.tablinks2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-tab button{
  font-size: 12px !important;
  padding: 5px 10px !important;
}
.account-tab button i{
  font-size: 20px !important;
}
.account-tab button.active-tab{
  padding: 5px 12px !important;
}
.status{
  font-size: 12px;
}
.sticky-top{
  z-index: 5;
}
.weight{
  font-size: 14px;
  font-weight: 500;
}
.in-stock{
  font-size: 14px;
  color: var(--orange);
  font-weight: 500;
}
.sale-out{
  font-size: 14px;
  color: var(--grey-dark);
  font-weight: 500;
}

}